---
import Delivery from "./Delivery.astro";
import Submittals from "./Submittals.astro";
import Invoice from "./Invoice.astro";
import NavButton from "./index/NavButton.astro";
import SectionContainer from "./SectionContainer.astro";
import EducationHub from "./EducationHub.astro";
import FunHobbies from "./FunHobbies.astro";
import ShopNow from "./ShopNow.astro";
import { getI18N } from "@/i18n";

//Para cambiar idioma de textos
const { currentLocale } = Astro;
const i18n = getI18N({ currentLocale });
---

<div class="flex flex-col">
  <nav
    class="flex gap-1 text-hub-inactive rounded-full border-[1px] p-[2px] border-hub-border dark:border-hub-border-dark bg-hub-background-nav dark:bg-hub-background-nav whitespace-nowrap overflow-x-auto scrollbar-hide"
  >
    <NavButton class="tab-btn" aria-label="btn-submittals" data-target="submittals"
      >{i18n.NAVBAR.SUBMITTALS}</NavButton
    >
    <NavButton class="tab-btn" aria-label="btn-invoices" data-target="invoice"
      >{i18n.NAVBAR.INVOICE}</NavButton
    >
    <NavButton
      class="tab-btn"
      aria-label="btn-delivery"
      data-target="delivery">{i18n.NAVBAR.DELIVERY}</NavButton
    >

  </nav>

  <main class="mt-6">
    <SectionContainer id="submittals" class="tab-content mt-0 mb-0">
      <Submittals />
    </SectionContainer>
    <SectionContainer id="invoices" class="tab-content hidden mt-0 mb-0">
      <Invoice />
    </SectionContainer>
    <SectionContainer id="delivery" class="tab-content hidden mt-0 mb-0">
      <Delivery />
    </SectionContainer>

  </main>
</div>

<script>
  const buttons = document.querySelectorAll(".tab-btn");
  const contents = document.querySelectorAll(".tab-content");

  // Establece el bot贸n activo por defecto
  const defaultActive = document.querySelector('[data-target="submittals"]');
  if (defaultActive) {
    defaultActive.classList.add(
      "bg-hub-background",
      "drop-shadow-md",
      "text-hub-title",
      "font-bold",
      "dark:text-hub-title-dark",
      "dark:bg-hub-background-dark",
    );
    const submittalsSection = document.getElementById("submittals");
    if (submittalsSection) {
      submittalsSection.classList.remove("hidden");
    }
  }

  buttons.forEach((button) => {
    button.addEventListener("click", () => {
      const target = button.getAttribute("data-target");

      // Actualiza el estado de los botones
      buttons.forEach((btn) =>
        btn.classList.remove(
          "bg-hub-background",
          "drop-shadow-md",
          "text-hub-title",
          "font-bold",
          "dark:text-hub-title-dark",
          "dark:bg-hub-background-dark",
        ),
      );
      button.classList.add(
        "bg-hub-background",
        "drop-shadow-md",
        "text-hub-title",
        "font-bold",
        "dark:text-hub-title-dark",
        "dark:bg-hub-background-dark",
      );

      // Oculta todas las secciones
      contents.forEach((content) => content.classList.add("hidden"));

      // Muestra la secci贸n seleccionada
      if (target) {
        const targetElement = document.getElementById(target);
        if (targetElement) {
          targetElement.classList.remove("hidden");
        }
      }

      // Desliza el bot贸n al centro del nav
      button.scrollIntoView({
        behavior: "smooth", // Deslizamiento suave
        block: "nearest", // Mantiene la posici贸n vertical
        inline: "center", // Centra horizontalmente
      });
    });
  });
</script>
